.logo {

    border: 0px;
    transition: 0.8s ease-in-out;
}

.logo:hover {

    transform: rotateZ(90deg);
}

@media(max-width:400px) {
    ul li a {
        padding: 10px;
        font-size: 2px;
    }

    .nav-link {
        padding: 15px 15px;
    }
}